html
    head
        title= _title 
    body
        h1 Hello Jade
        ul 
           -for(var i =0; i<5; i++) // for 문은 java 스크립트 코드이기에 앞에 -를 붙혀줘야함
                li coding
        div=time //=   -->   time이라는 변수 사용하겠다. 

